#skills {
    background-color: $text-primary;
    color: $dark-blue-text;
    margin-top: -15rem;
    padding-top: 15rem;
  
    @include respond(tab-land) {
      margin-top: 0;
      padding-top: 5rem;
    }
  
    .skills-wrapper {
      margin-bottom: 5rem;
  
      @include respond(phone) {
        margin-bottom: 0rem;
      }
    }
  }
  