// COLORS
$primary: #234E70;
$secondary-color: #288299;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #234E70; // For Headings

$primary: #234e70;
$primary-light: #537a9f;
$primary-dark: #002645;
$secondary: #fbf8be;
$secondary-light: #fffff1;
$secondary-dark: #c7c58d;

$text-primary: #ffffff;
$text-secondary: #000000;

// FONT SIZE
$default-font-size: 1rem;
$big-font-size: 3rem;
$mid-font-size: 2.5rem;
